{% load static i18n %}<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}Know Your Government{% endblock title %}</title>
	<meta nname="description" content="">
	<meta name="author" content="">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->

	<link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

	{% block css %}
	    
	    <!-- Your stuff: Third-party CSS libraries go here -->
	    <!-- Open sans and roboto fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet"> 

	    <!-- Font awesome icons -->
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	    

	    <!-- This file stores project-specific CSS -->
	    
	    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
	    
	    
	{% endblock %}

    </head>

    <body>

	<div class="m-b-1">
	    <nav class="navbar navbar-expand-md navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			    <a class="nav-link {% block home %}{% endblock %}" href="{% url 'home' %}">Know Your Government</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link {% block members %}{% endblock %}" href="{% url 'members:list' %}">Members</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link {% block cabinet %}{% endblock %}" href="{% url 'members:cabinet' %}">Cabinet</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link {% block about %}{% endblock %}" href="{% url 'about' %}">About</a>
			</li>
		    </ul>
		</div>
	    </nav>
	</div>

	<div class="container">

	    {% if messages %}
		{% for message in messages %}
		    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
		{% endfor %}
	    {% endif %}

	    {% block content %}
	    {% endblock content %}

	</div> <!-- /container -->

	{% block modal %}{% endblock modal %}

	<!-- Le javascript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	{% block javascript %}
	    
	    <!-- Required by Bootstrap v4.1.1 -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <!-- Your stuff: Third-party javascript libraries go here -->
	    

	    <!-- place project specific Javascript in this file -->
	    
	    <script src="{% static 'js/project.js' %}"></script>
	    

	{% endblock javascript %}
    </body>
</html>

