{% if request.user.is_authenticated %}
			<li class="nav-item">
	{# URL provided by django-allauth/account/urls.py #}
	<a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
    </li>
    <li class="nav-item">
	{# URL provided by django-allauth/account/urls.py #}
	<a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
    </li>
{% else %}
    <li class="nav-item">
	{# URL provided by django-allauth/account/urls.py #}
	<a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
    </li>
    <li class="nav-item">
	{# URL provided by django-allauth/account/urls.py #}
	<a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
    </li>
{% endif %}
