{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
    <div class="container">
	<h2>Members</h2>

	<div class="list-group">
	    {% for member in member_list %}
		<a href="{% url 'members:detail' member.slug %}" class="list-group-item">
		    <h4 class="list-group-item-heading">{{ member.person.name }}</h4>
		</a>
	    {% endfor %}
	</div>
    </div>

    <div class="pagination">
	<span class="step-links">
            {% if page_obj.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">next</a>
		<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
	</span>
    </div>
{% endblock content %}

